{
    "presets": ["@babel/preset-env", "@babel/preset-react"],
    "plugins": [
        ["module-resolver", {
            "alias": {
                "~": "./src",
                "@v": "./src/views",
                "@c": "./src/controllers",
                "@m": "./src/models",
                "@p": "./public"
            }
        }]
    ]
}